@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 99%;
    --foreground: 0, 0%, 0%;
    --primary: 196, 86%, 54%;
    --muted-foreground: 0, 0%, 45.1%;
    --border: 0, 0%, 89%;
    --content-primary: 0, 0%, 100%;
  }

  .dark {
    --background: 0, 0%, 4%;
    --foreground: 0, 0%, 100%;
    --primary: 196, 100%, 68%;
    --muted-foreground: 0, 0%, 45.1%;
    --border: 0, 0%, 16%;
    --content-primary: 0, 0%, 7%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
